:root {
    --transition: color 0.1s, background-color .2s ease-in-out;
    --skill-bar-length: 0%;
}
* {
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 22px;
}
body {
    background-image: url("../img/wallpaper4.jpg");
    background-position:top;
    background-size:contain;
    margin: 0;
    padding: 0;}

.box {
    margin-top: 50px;
    width: 50%;
    max-width: 1200px;
    background-color: black;
    border: 2px solid black;
    color: aliceblue;
    background-image: url("../img/wallpaper2.jpg");
    padding: 8px;
    justify-content: center;
    border-radius: 10px;;
    }
    .imgConstruction {
        width: 100%;
        height: 100%;     
    }

/*NAV*/
.nav {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    }
.nav > .box:nth-child(1) {
    background-image: none;
    width: 80%;
    max-width: 1200px;
    display: flex;
    padding: 0;
    background-color:transparent;
    border: 0px none;
}
.grid-container {
    display: grid;
    grid-template-columns:  11% 11% 10% 11% 10% 10% 10% 11%;
    grid-gap: 5px;
    max-width: 1200px;
    min-width: 420px;
    min-height: 30px;
    width:90%;
    word-break: break-all;
    justify-content: space-evenly;
    align-content: center;
    }
.grid-container div {
/*    border: 1px solid white;
*/    font-size: 12px;
}
.grid-container div::after{
    content:"|";
}


/*.nav-left {
    grid-template-columns:subgrid;
    font-size: 21px;
    font-weight: bold;
    color:aliceblue;
    border: 1px solid white;
}
.nav-left ul {
    list-style: none;
}
.nav-right{
    border: 1px solid white;

}
.nav-right ul {
    display: flex;

    color:white;    
    min-width: 200px;
    overflow-wrap: break-word;
}
.nav-right li {
    list-style: none;
    overflow-wrap: break-word;
}
.nav-right ul > :hover {
    background-color:rgb(16, 193, 216);
}
.nav-right li::after {
    content: "|";
}


/*SECTION PRESENTATION*/
.presentation > :nth-child(1):hover {
    background-color: springgreen;
}
.presentation {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
}

.presentation > .box:nth-child(1) {
    cursor: help;
}
.presentation-box1 {
    display: flex;
    justify-content: center;
}
.presentation-box1 img {
    width: 150px;
    height: 150%;
    border: 5px solid aliceblue;
    border-radius: 50%;
}

.presentation-box2 {
    margin-top: 2%;
    text-align: center;
    padding: 15px;
}
.presentation-box3-g{
    width: 100%;
}
.presentation-box3{
    display:flex;
    width: 70%;
    margin: 0 auto; /*Centrar elementos*/
    justify-content: center;    
    gap: 10px; /*Espaciado*/
}
.presentation-box3 img {
    width: 25px;
    height: 25px;   
}
.presentation-box3 img:hover {
    background-color: white;
    cursor: pointer;
}
.presentation-box4 {
    margin-top: 2%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.presentation-box4 button {
    border: 1px solid black;
    background-color: white;
    padding: 6px;
}
.presentation-box4 button:hover {
    background-color: grey;
    cursor: pointer;
}

/*SECTION ABOUT*/
.about {
    display: flex;
    width: 100%;
    min-height: 350px;
    min-width: 300px;
    justify-content: center;
    word-break: break-all;
}
.table-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.about-box1 {
    width: 105%;
}
.table-container {
    font-size: 14px;

}
.about-box2 {
    width: 80%;
    text-align: left;
    padding: 5%;
}
.about-box2 img {
    width: 20px;
    height: 20px;
}
.about-box2 li {
    height: 25px;
}
.about-box2 ul {
    list-style:none;
    padding: 5px;
}
.about-box3 {
    margin-left:-20%;
    width: 120%;
    padding: 5%;
}
.about-box3 li {
    height: 25px;
}
.about-box3 ul {
    list-style: none;
    padding: 0;
/*    overflow-wrap: break-word;*/
}
.about-box3 a {
    list-style: none;
    color: white;
}
.email {
    word-break: break-all;
    word-wrap: break-word;
}


/*SECTION SKILLS*/
.skill {
    display: flex;
    width: 100%;
    height: 550px;
    justify-content: center;
}
.column {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;    
    padding: 20px;
    justify-content: center;
    text-align: center;
    height: 100px;
}
.skills_item1 {
    padding-bottom: 10px;
    grid-area: 1/1;
}
.skills_item2 {
    padding-left: 15px;
    grid-area: 1/2;
}
.skills_item3 {
    padding-bottom: 10px;
    grid-area: 2/1;
}
.skills_item4 {
    padding-left: 15px;
    grid-area: 2/2;
}
.skills_item5 {
    grid-area: 3/1;
}
.skills_item6 {
    padding-left: 15px;
    grid-area: 3/2;
}
.skills {
    padding: 30px;
    align-content: center;
}
.skills_bar, 
.skills_bar::after {
    position: relative;
    width: 250px;
    height: 10px;
    background-color: #888;
    border-radius: 5px;
    overflow: hidden;
    }
.skills_bar::after{
    content: "";
    position:absolute;
    left:-250px;
    background-color:#09CBEA;
    transition: var(--transition);
    animation: skill-bar-fill 2s ease-in-out forwards;
}

.skills_bar--50::after{
    --skill-bar-length: 50%;
}
.skills_bar--60::after{
    --skill-bar-length: 60%;
}
.skills_bar--70::after{
    --skill-bar-length: 70%;
}
.skills_bar--80::after{
    --skill-bar-length: 80%;
}
.skills_bar--90::after{
    --skill-bar-length: 90%;
}
.skills_bar--100::after{
    --skill-bar-length: 100%;
}


@keyframes skill-bar-fill {
    to {
        transform: translateX(var(--skill-bar-length));
    }
}

/*SECTION EXPERIENCE*/
.experience {
    display: flex;
    width: 100%;
/*    background-color:aqua;*/
    justify-content: center;
}
.experience-box {
    width:90%;
    text-align: left;
    padding: 20px;
}
.experience-box ul {
    list-style: none;
}
.experience-company {
    font-size: 18px;
}
.experience-job {
    margin-top: 10px;
    font-size: 16px;
}
.experience-time {
    font-size: 12px;
}
.experience-location {
    font-size: 10px;
}
.experience-activities {
    font-size: 14px;
}
.experience-activities li:nth-of-type(1){
    margin-top: 100px; 

}



/*SECTION EDUCATION*/
.education {
    display: flex;
    width: 100%;
    min-width: 300px;
    min-height: 300px;
    justify-content: center;
}
.education div {
    padding: 10px;
}
.education p {
    font-size: 14px;
}
.education span {
    font-size: 12px;
}

/*SECTION PORTFOLIO*/
.portfolio{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
}

/*SECTION CERTIFICATIONS*/
.certifications {
    display: flex;
    width: 100%;
    justify-content: center;
}
.certifications ul {
    list-style: none;
}
.certifications li {
    margin-top: 20px;;
    font-size: 14px;
}
.certifications p {
    font-size: 12px;
}
.certifications a {
    color:aliceblue
}

/*SECTION CONTACT*/
.contact {
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
}
/*FOOTER*/
footer {
    display: flex;
    width: 100%;
    height: 100%;
    background-color:black;
    justify-content: center;
    color: aliceblue;
}
footer p {
    font-size: 14px;
    text-align: center;
}


/*MEDIAQUERIES*/
/*
@media only screen and (max-width: 800px)
{
.box > * {
    width: 100%;
    }
.box {
     flex-direction: column;
 }
}
@media (max-width: 375px)
{
.box {
  display: inherit; /*Pasa de horizontal a vertical
  height: auto;
}
*/
/*
ME FALTA:

TERMINAR DE AGREGAR MIS CERTIFICADOS Y ACOMODARLOS
ACOMODAR DONDE VAN A IR MIS PROYECTOS
AGREGAR ANIMACIÓN AL PRECIONAR"cONTACTAME" PARA QUE SOLBRE SALGAN MIS DATOS PERSONALES.
AGREGAR VARIABLES 


*/